body {
  background-color: #006699!important;
  color: white!important;
}

.center{
  text-align: center;
}

.matrix-label{
  width: 250px;
  margin-left:50%;
  margin-right:50%;
}

.matrix-box{
  background-color: rgba(0,0,0,0.1);
  text-align: left;
  width: 250px;
  height: 200px;
  border: 3px solid #CCE0F5;
  position:relative;
  margin-left:50%;
  margin-right: 50%;
  margin-top:60;
}

.final{
  text-align: center;
}

.final-box{
  display:inline-flex;
  padding-left: 25%;
  padding-right:25%;
}

.final-label{
  padding-top: 30;
  padding-right: 20;
}

#final-matrix{
  font-size: large;
}

.right{
  float: right;
  text-align: right;
}

.left{
  float: left;
  text-align: left;
}

.determinant{
  padding: 10px;
  position: absolute;
  bottom: 0;
  margin-right: 20px;
  right: 0;
}

#charpoly{
  padding: 25!important;
  font-size:large;
}

#eigenvalues{
 float: left;
 padding-right: 100px!important;
}

#input-matrix{
  padding: 5 15 5 15;
}


#eigens button{
  background: transparent!important;
  border: none!important;
}

.glyphicon-white{
  color: white;
}

#reset-button{
  margin-top: 30;
  bottom: 0;
  left:0;
  color: white!important;
  background-color: transparent!important;
}

.intro-text{
  text-indent: 10px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  text-align: justify;
  padding-bottom: 25px;
}

.eigen-text{
  text-indent: 25px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: justify;
}

p {
  margin-bottom: 0!important;
}

hr {
  border-top: 1px solid #BCD4E0!important;
  opacity: .75;
}